<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org/"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Welcome</h1>-->
<!--    <p th:text="${#authentication}"></p>-->
<!--    <p sec:authorize="hasAuthority('USER')">AHOJ USER</p>-->
<!--    <p sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/home/index/mail}">Send mail</a></p>-->
<!--    <a th:href= "@{/logout}">Logout</a>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyProperty</title>
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/responsive.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<nav class="d-flex justify-content-between px-3 pt-2 pb-2 position-fixed w-100 z-2" style="background-color: var(--color-E);">
    <div class="d-flex">
        <div class="align-content-center d-none d-lg-block" onclick="sideMenu()"><i class="bi bi-list p-1 border rounded-3 hover fs-4" style="background-color: var(--bs-gray-700);"></i></div>
        <a th:href="@{/}" class="align-content-center ms-3"><img th:src="@{/images/logo.png}" class=" border rounded-3 border-white" alt="" style="width: 120px;"></a>
    </div>
    <div class="align-content-center d-block d-lg-none" onclick="topMenu()"><i class="bi bi-list p-1 border rounded-3 hover fs-4" style="background-color: var(--bs-gray-700);"></i></div>
    <div class="d-none d-lg-flex align-items-center">
        <i class="bi bi-bell-fill text-white p-2 fs-5 hover-i" onclick="toggleDisplay('notice')"></i>
        <i class="bi bi-menu-up text-white p-2 fs-5 hover-i" onclick="toggleDisplay('apps')"></i>
        <i class="bi bi-calendar2-day text-white p-2 fs-5 hover-i" onclick="toggleDisplay('calendar')"></i>
        <i class="bi bi-person-fill text-white p-1 px-2 fs-5 border border-2 rounded-circle ms-2 hover-i" onclick="toggleDisplay('profil')"></i>
    </div>
</nav>
<div class="position-relative">
    <div class="box" id="profil">
        <div class="box-inner d-flex flex-column" style="width: max-content;">
            <a href="">Profile & Account</a>
            <a href="">Chat</a>
            <a href="">Setting</a>
            <a th:href= "@{/logout}">Logout</a>
        </div>
    </div>
    <div class="box" id="calendar" style="width: 190px;">
        <div class="box-inner">
            <div id="calendar-header">
                <span id="calendar-prev">&#10094;</span>
                <span id="calendar-month-year"></span>
                <span id="calendar-next">&#10095;</span>
            </div>
            <table id="calendars">
                <thead>
                <tr>
                    <th>Mo</th>
                    <th>Tu</th>
                    <th>We</th>
                    <th>Th</th>
                    <th>Fr</th>
                    <th>Sa</th>
                    <th>Su</th>
                </tr>
                </thead>
                <tbody id="calendar-body"></tbody>
            </table>
        </div>
    </div>
</div>
<div class="box" id="apps" style="width: 215px;">
    <div class="box-inner d-flex flex-wrap gap-1">
        <a href="https://discord.com/" class="d-flex flex-column align-items-center justify-content-end" style="width: 31.5%;" target="_blank">
            <i class="bi bi-discord text-white fs-3"></i>
            <span>Discord</span>
        </a>
        <a href="https://www.google.com/" class="d-flex flex-column align-items-center" style="width: 31.5%;" target="_blank">
            <i class="bi bi-google text-white fs-3"></i>
            <span>Google</span>
        </a>
        <a href="https://github.com/" class="d-flex flex-column align-items-center" style="width: 31.5%;" target="_blank">
            <i class="bi bi-github text-white fs-3"></i>
            <span>GitHub</span>
        </a>
        <a href="https://www.instagram.com/" class="d-flex flex-column align-items-center" style="width: 31.5%;" target="_blank">
            <i class="bi bi-instagram text-white fs-3"></i>
            <span>Instagram</span>
        </a>
        <a href="https://www.facebook.com/" class="d-flex flex-column align-items-center" style="width: 31.5%;" target="_blank">
            <i class="bi bi-facebook text-white fs-3"></i>
            <span>Facebook</span>
        </a>
        <a href="https://www.messenger.com/" class="d-flex flex-column align-items-center" style="width: 31.5%;" target="_blank">
            <i class="bi bi-messenger text-white fs-3"></i>
            <span>Messenger</span>
        </a>
        <a href="https://www.whatsapp.com/" class="d-flex flex-column align-items-center" style="width: 31.5%;" target="_blank">
            <i class="bi bi-whatsapp text-white fs-3"></i>
            <span>Whatsapp</span>
        </a>
        <a href="https://accounts.google.com/" class="d-flex flex-column align-items-center" style="width: 31.5%;" target="_blank">
            <i class="bi bi-envelope text-white fs-3"></i>
            <span>Gmail</span>
        </a>
        <a href="https://www.bing.com/" class="d-flex flex-column align-items-center" style="width: 31.5%;" target="_blank">
            <i class="bi bi-bing text-white fs-3"></i>
            <span>Bing</span>
        </a>
    </div>
</div>
<div class="box" id="notice">

</div>
<div class="pt-5 d-lg-none" id="topMenu-show">
    <a th:href="@{/dashboard}"><i class="bi bi-house-fill fs-5"></i> <span class="ps-4">Home</span></a>
    <a th:href="@{/dashboard/list_of_property}"><i class="bi bi-boxes fs-5"></i> <span class="ps-4">Property</span></a>
    <a href="#"><i class="bi bi-people-fill  fs-5"></i> <span class="ps-4">Employees</span></a>
    <a href="#"><i class="bi bi-bell-fill fs-5"></i> <span class="ps-4">Notice</span></a>
    <a href="#"><i class="bi bi-chat-dots-fill fs-5"></i> <span class="ps-4">Chat</span></a>
    <a href="#"><i class="bi bi-person-fill fs-5"></i> <span class="ps-4">Profile</span></a>
    <a href="#"><i class="bi bi-gear-fill fs-5"></i> <span class="ps-4">Setting</span></a>
    <a th:href= "@{/logout}"><i class="bi bi-box-arrow-in-left fs-5"></i> <span class="ps-4">Logout</span></a>
</div>
<main class="d-flex pt-5 bg-light" style="height: 100vh;">
    <div class="d-none d-lg-block" id="sideMenu-show">
        <div class="d-flex flex-column justify-content-around ps-4 px-4 h-50" style="width: max-content;">
            <a th:href="@{/dashboard}"><i class="bi bi-house-fill fs-5"></i> <span class="ps-4">Home</span></a>
            <a th:href="@{/dashboard/list_of_property}"><i class="bi bi-boxes fs-5"></i> <span class="ps-4">Property</span></a>
            <a href="#"><i class="bi bi-people-fill  fs-5"></i> <span class="ps-4">Employees</span></a>
            <a href="#"><i class="bi bi-bell-fill fs-5"></i> <span class="ps-4">Notice</span></a>
            <a href="#"><i class="bi bi-chat-dots-fill fs-5"></i> <span class="ps-4">Chat</span></a>
            <a href="#"><i class="bi bi-person-fill fs-5"></i> <span class="ps-4">Profile</span></a>
            <a href="#"><i class="bi bi-gear-fill fs-5"></i> <span class="ps-4">Setting</span></a>
            <a th:href= "@{/logout}"><i class="bi bi-box-arrow-in-left fs-5"></i> <span class="ps-4">Logout</span></a>
        </div>
    </div>
    <div class="content-app">
        <div class="app-welcome d-flex flex-column justify-content-center align-items-center align-self-center text-center">
            <h1 class="fs-2 m-0 px-4 pb-4" style="color: #DAA520;">Welcome to MyProperty</h1>
            <p class="text-white m-0 pt-1 px-2 pb-1" >We are here to help simplify the management of your wealth and allow you to focus on what is most important to you. Thank you for being with us.</p>
            <p class="fs-6" style="color: #DAA520; ">Your personal property management solution</p>
            <a th:href="@{/dashboard/list_of_property}" class="text-black pt-2 pb-2 px-4 border-0 rounded-1 fw-bold mt-2 curs text-decoration-none" style="background-color: #DAA520;">Commence</a>
        </div>
        <div class="d-flex flex-column flex-lg-row gap-3 pt-3" style="width: 93%;">
            <section class="col-sm-12 col-md-12 col-lg-7 rounded-3 pb-5" style=" background-color: white; height: fit-content">
                <div class="d-flex flex-row align-items-center mb-3 pb-3 pt-4 ps-5 rounded-top-3" style="background-color: var(--bs-gray-400); display: block">
                    <h3>Property</h3>
                    <a sec:authorize="hasAnyAuthority('ADMIN', 'OWNER')" th:href= "@{/dashboard/add_property}" class="mx-4 text-decoration-none p-2 rounded-1 text-white add" style="background-color: var(--bs-gray-600);"><i class="bi bi-file-earmark-plus-fill"></i> ADD</a>
                </div>
                <div class="d-block d-sm-flex flex-row flex-wrap gap-3 justify-content-center">
                    <div class="border rounded-2 col-9 mx-auto col-sm-3 mx-sm-0 mt-3" th:each="property : ${properties}">
                        <div th:with="profileImage=${property.files.?[type.name == 'profilProperty']}">
                            <div th:if="${!profileImage.isEmpty()}" th:each="file : ${profileImage}">
                                <img th:src="@{|/${#authentication.name}/view/${file.name}|}" alt="" style="width: 100%; height: 100px; background-color: gray; object-fit: cover; object-position: center" class="rounded-top-2"/>
                            </div>
                            <img th:if="${profileImage.isEmpty()}" src="#" alt="" style="width: 100%; height: 100px; background-color: gray;" class="rounded-top-2"/>
                        </div>
                        <div class="pb-3 px-2 pt-2 text-center">
                            <h6 class="m-0" th:text="${property.inventoryNumber != '' ? property.inventoryNumber : 'N/A'}">Inventory number</h6>
                            <p class="m-0" th:text="${property.name != '' ? property.name : 'No Name'}">Name property</p>
                            <p class="m-0" th:text="${property.responsiblePeople != '' ? property.responsiblePeople : 'No User'}"></p>
                            <a th:href="@{/dashboard/detail_property/{id}(id = ${@userService.encrypt(property.id)})}" class="border border-2 mb-1 d-block rounded-2 mx-3 mt-2 text-decoration-none fw-bolder p-1 detail-btn" style="background-color: var(--bs-gray-600); color: white;">detail</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end col-10 mx-5 mt-3 gap-2" th:if="${1< totalPages}">
                    <ul class="pagination pagination-sm no-margin pull-right gap-2">
                        <li th:if="${currentPage > 1}">
                            <a th:href="@{'?pageNo=' + ${1}}" class="text-decoration-none"><i class="bi bi-arrow-left-square"></i></a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${currentPage == i ? 'active' : ''}">
                            <a th:href="@{'?pageNo=' + ${i}}" th:text="${i}" class="text-decoration-none"></a>
                        </li>
                        <li th:if="${currentPage < totalPages}">
                            <a th:href="@{'?pageNo=' + ${totalPages}}" class="text-decoration-none"><i class="bi bi-arrow-right-square"></i></a>
                        </li>
                    </ul>
                </div>
            </section>
            <div class="col-lg-5 d-flex flex-column gap-3">
                <section class="rounded-3 pb-5" style="background-color: white; height: 250px;">
                    <h4 style="color: var(--bs-gray-400);">Notice</h4>
                </section>
                <section class="rounded-3 pb-5" style="background-color: white; height: 500px;">
                    <h4 style="color: var(--bs-gray-400);">Contacts</h4>
                </section>
            </div>
        </div>
        <div class="d-flex pt-3" style="width: 94%;">
            <section class="col rounded-3" style="background-color: white; height: 250px;">
                <h4 style="color: var(--bs-gray-400);">Employees</h4>
            </section>
        </div>
    </div>
</main>
<script th:src="@{/script/script.js}"></script>
<script th:src="@{/script/bootstrap.bundle.js}"></script>
</body>
</html>
