<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style/responsive.css}" />
    <title>MyProperty</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-black position-fixed w-100" style="--bs-bg-opacity: .8; z-index: 10;" data-bs-theme="dark" >
    <div class="container-fluid ">
        <a class="navbar-brand" href="#"><img th:src="@{/images/logo.png}" alt="" class="border border-white" style="width: 125px; border-radius: 10px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" style="margin: 0 50px;" id="navbarScroll">
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white text-center" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-center" href="#scroll-aboutUs">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-center" href="#scroll-reviews">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-center" href="#scroll-pricer">Price</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-center" th:href="@{/login}">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-center" th:href="@{/sign_up}">Sign up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="header" style="position: relative; height: 100vh; background-image: url(/images/5442676.jpg); background-attachment: fixed">
    <h1 style="color: #DAA520; position: absolute; bottom: 200px; left: 200px; z-index: 5">Welcome to MyPropertyApp</h1>
</header>
<main class="main">
    <section class="main-cards">
        <div class="card p-4">
            <img th:src="@{/images/i_mobile.png}" class="card-img-top m-auto" alt="">
            <div class="card-body text-center">
                <h5 class="card-title">For all devices</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu placerat felis. Etiam tincidunt tiam tincidunt orci lacus id varius. Duis dolor fermentum sit amet.</p>
            </div>
        </div>
        <div class="card p-4">
            <img th:src="@{/images/i_diamond.png}" class="card-img-top m-auto" alt="">
            <div class="card-body text-center">
                <h5 class="card-title">Fast execution</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu placerat felis. Etiam tincidunt tiam tincidunt orci lacus id varius. Duis dolor fermentum sit amet.</p>
            </div>
        </div>
        <div class="card p-4">
            <img th:src="@{/images/i_idea.png}" class="card-img-top m-auto" alt="">
            <div class="card-body text-center">
                <h5 class="card-title">Inspiring ideas</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu placerat felis. Etiam tincidunt tiam tincidunt orci lacus id varius. Duis dolor fermentum sit amet.</p>
            </div>
        </div>
        <div class="card p-4">
            <img th:src="@{/images/i_strategy.png}" class="card-img-top m-auto" alt="">
            <div class="card-body text-center">
                <h5 class="card-title">Growing strategy</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu placerat felis. Etiam tincidunt tiam tincidunt orci lacus id varius. Duis dolor fermentum sit amet.</p>
            </div>
        </div>
    </section>
    <section class="main-aboutUs">
        <div id="scroll-aboutUs"></div>
        <div class="aboutUs-images">
            <img th:src="@{/images/aboutUs_team.png}" alt="">
            <img th:src="@{/images/aboutUs_women.png}" alt="">
            <img th:src="@{/images/aboutUs_men.png}" alt="">
        </div>
        <div class="aboutUs-text d-flex flex-column">
            <h4>About Us</h4>
            <h3>We are a leading firm for your inventories from assets to goods</h3>
            <p>We realize that for our clients, inventory management is a crucial part of their business for efficient inventory control. However, often there are not enough trained workers for this process...</p>
            <p>Our main motto and mission is to free clients from this complex and time-consuming activity. The main advantage is a trained team of workers with their own equipment...</p>
            <a th:href="@{/aboutUs}">Read more</a>
        </div>
    </section>
    <section class="main-contact">
        <div class="contact-text">
            <h4>How Can We Help?</h4>
            <h3>We are a creative design agency for inventory</h3>
            <p>Efficient inventory management is the key to keeping your business running smoothly. If you are looking for a partner who will provide you with accurate and fast results, contact us. Our specialists will ensure that your assets are carefully documented and properly valued.</p>
            <a href="#">Contact us</a>
        </div>
    </section>
    <section class=" main-review">
        <div id="scroll-reviews"></div>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="z-index: 5; position: relative; top: 50%;">
            <div class="carousel-inner review-container">
                <div class="carousel-item review-item active">
                    <img th:src="@{/images/stars.png}" alt="">
                    <p>This asset inventory application completely changed the way we manage our corporate assets. Its intuitive interface and advanced features have saved us a lot of time and money.</p>
                    <h4>Tomáš Malý</h4>
                </div>
                <div class="carousel-item review-item">
                    <img th:src="@{/images/stars.png}" alt="">
                    <p>After using this application, we realized how many errors were in our previous systems. The accuracy and reliability offered by the application are crucial for our business.</p>
                    <h4>Marek Štastný</h4>
                </div>
                <div class="carousel-item review-item">
                    <img th:src="@{/images/stars.png}" alt="">
                    <p>I am amazed at how easy it is to work with the application. Its user interface is clean and logical, which significantly reduces the time needed to train new employees.</p>
                    <h4>Matyáš Smutný</h4>
                </div>
                <div class="carousel-item review-item">
                    <img th:src="@{/images/stars.png}" alt="">
                    <p>In addition to the great features of the application, I must highlight the excellent customer service. The team is always ready to help and responds quickly to any questions or issues.</p>
                    <h4>Matěj Odborný</h4>
                </div>
            </div>
        </div>
        <div class="review-buttons d-flex w-25 justify-content-center m-auto">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span id="prevR"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span id="nextR">NEXT</span>
            </button>
        </div>
    </section>
    <section class="main-pricer">
        <div id="scroll-pricer"></div>
        <h2>Price List</h2>
        <div class="container-pricer">
            <div class="pricer-item">
                <h3>Basic</h3>
                <div class="price">
                    <h4>$</h4>
                    <h3>19</h3>
                    <h5>month</h5>
                </div>
                <div class="pricer-properties">
                    <p>Accurate scanning</p>
                    <p>Item identification</p>
                    <p>Integrated software</p>
                    <p>Easy access</p>
                    <p>Report generation</p>
                    <p>Inventory management</p>
                </div>
                <a href="#">Buy</a>
            </div>
            <div class="pricer-item">
                <h3>Standard</h3>
                <div class="price">
                    <h4>$</h4>
                    <h3>29</h3>
                    <h5>month</h5>
                </div>
                <div class="pricer-properties">
                    <p>Accurate scanning</p>
                    <p>Item identification</p>
                    <p>Integrated software</p>
                    <p>Easy access</p>
                    <p>Report generation</p>
                    <p>Inventory management</p>
                </div>
                <a href="#">Buy</a>
            </div>
            <div class="pricer-item">
                <h3>Premium</h3>
                <div class="price">
                    <h4>$</h4>
                    <h3>39</h3>
                    <h5>month</h5>
                </div>
                <div class="pricer-properties">
                    <p>Accurate scanning</p>
                    <p>Item identification</p>
                    <p>Integrated software</p>
                    <p>Easy access</p>
                    <p>Report generation</p>
                    <p>Inventory management</p>
                </div>
                <a href="#">Buy</a>
            </div>
        </div>
    </section>
</main>
<footer class="footer d-flex text-white">
    <div class="footer-links">
        <h3>Useful Links</h3>
        <ul class="list-unstyled">
            <li class="link-item"><a th:href="@{/}" >HOME</a></li>
            <li class="link-item"><a href="#scroll-aboutUs">ABOUT US</a></li>
            <li class="link-item"><a href="#scroll-reviews" >REVIEWS</a></li>
            <li class="link-item"><a href="#scroll-pricer">PRICE</a></li>
            <li class="link-item"><a th:href="@{/login}">SIGN IN</a></li>
            <li class="link-item"><a th:href="@{/sign_up}">SIGN UP</a></li>
        </ul>
    </div>
    <div class="footer-contacts">
        <h3>Contact</h3>
        <div class="item-contacts d-flex">
            <img th:src="@{/images/map.png}" alt="">
            <p>Jiráskova 15, 520 08 Pardubice</p>
        </div>
        <div class="item-contacts d-flex">
            <img th:src="@{/images/email.png}" alt="">
            <p>MyProperty@email.cz</p>
        </div>
        <div class="item-contacts d-flex">
            <img th:src="@{/images/phone.png}" alt="">
            <p>+420 777 666 555</p>
        </div>
    </div>
    <p class="copyright">© copyright 2023 MyProperty</p>
</footer>


<script th:src="@{/script/bootstrap.bundle.js}"></script>
</body>
</html>
